html {
  zoom: 100%;
}

body {
  background-color: #e8e4d9;
  font-family: Arial, Helvetica, sans-serif;
  color: #8b9d7a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #798d71;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: 450px;
  padding: 20px;
}

input[type="text"], select {
  background-color: #e8e4d9;
  color: #4f5f48;
  border: #a8b99c 2px solid;
  border-radius: 25px;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
}

input::placeholder, select:not(:valid) {
    color: #a8b99c;
}

input:focus, select:focus {
  outline: none;
  border-color: #798d71;
}

button {
  background-color: #d1ccbf;
  color: #4f5f48;
  border: #798d71 2px solid;
  transition: background-color 0.41s ease, color 0.67s ease;
  border-radius: 25px;
  width: 50%;
  height: 60px;
  font-size: 18px;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}

button:hover {
  background-color: #798d71;
  color: #e8e4d9;
}

.output-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    background-color: #d1ccbf;
    border-radius: 25px;
    padding: 10px;
    border: #798d71 2px solid;
}

#risultatoCF {
    border: none;
    background: none;
    flex-grow: 1;
    font-size: 18px;
    font-weight: bold;
    color: #4f5f48;
    text-align: left;
    height: auto;
    padding: 0 10px;
    cursor: default;
}

.copy-button {
    width: 100px;
    height: 40px;
    font-size: 14px;
    margin: 0;
    border-radius: 20px;
    background-color: #798d71;
    color: #e8e4d9;
}

.copy-button:hover {
    background-color: #4f5f48;
}

p {
  text-align: center;
  font-size: 16px;
  color: #798d71;
  margin-top: 15px;
}